body{
   background-color: #333344;
   background-image: url(img/background.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

   font-size:20;
   font-family: 'Roboto', sans-serif;

}


.stream{
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;


  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-attachment: fixed;



}



a.logolink:visited{
  text-decoration: none;
}

a.logolink:hover{
color: #0A9A76;
}
a.logolink{
    float:left;
    text-decoration: none;
    left: 1em;

    top:0.6em;
  position: relative;
  color: #d0d0d0;
  font-size: 1.5em;
  font-family: 'News Cycle', sans-serif;
}

div.topbar{
  position: fixed;
  top:0.25em;
  left:0;

  width:100%;
  height:3em;

}

div.bottombar{

  position: fixed;
  bottom:0.25em;
  left:0;

  width:100%;


}

.icon-image{
  height:2em;

}



.buttonstyle{
  opacity:0.8;
  margin: 1em 0.5em;
  padding:1.5em 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  float:right;
  background-color: #d0d0d0;
  background-image: -webkit-linear-gradient(top,#d0d0d0,#cacaca);
  background-image: -moz-linear-gradient(top,#d0d0d0,#cacaca);
  background-image: -ms-linear-gradient(top,#d0d0d0,#cacaca);
  background-image: -o-linear-gradient(top,#d0d0d0,#cacaca);
  background-image: linear-gradient(top,#d0d0d0,#cacaca);

  font-size:1em;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  cursor: pointer;


  text-align: center;
  position: relative;

}

.buttonstyle:hover {

    opacity:1;

    background-color: #404040;
    background-image: -webkit-linear-gradient(top,#0A9A76,#0A9A76);
    background-image: -moz-linear-gradient(top,#0A9A76,#0A9A76);
    background-image: -ms-linear-gradient(top,#0A9A76,#0A9A76);
    background-image: -o-linear-gradient(top,#0A9A76,#0A9A76);
    background-image: linear-gradient(top,#0A9A76,#0A9A76);

    border: 1px solid #0A9A76;


    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);


}

button.left{
  float:left;
}

.onclick-menu {
  }


.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {

  position:absolute;
	list-style:none;
	text-align:center;
	width:18em;



	margin-left:-15em;
	bottom:2.2em;




    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}



.onclick-menu  ul li{
	background-color:#F1F1F1;
  padding:0.1em;
}

.onclick-menu-content  ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
  background-color:#F1F1F1;
}




.onclick-menu ul li:hover{

}

.onclick-menu ul li:last-child{
	border-radius:0 0 0.2em 0.2em;
  background-color:#F1F1F1;
  position:relative;

}

.onclick-menu ul li:last-child:after{ /* the pointer tip */

	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:.5em solid transparent;
	border-top-color:#F1F1F1;
	right:2.5em;
	bottom:-1em;
	margin-left:-5px;
}

.onclick-menu ul li:first-child{
  border-radius:0.2em 0.2em 0 0;


}

/**Dropdown*/

.onclick-menu-top {
  pointer-events: auto;
  }
.onclick-menu-top:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu-top:focus .onclick-menu-content-top {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}

.onclick-menu-top:hover .onclick-menu-content-top {
    /*  opacity is 1 in opened state (see below) */
    opacity: auto;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}



.onclick-menu-content-top {

  position:absolute;
	list-style:none;
	text-align:center;
	width:12em;


	margin-left:-11em;
	top:2.2em;




    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;



}


.onclick-menu-content-top:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}


.onclick-menu-top  ul li{
	background-color:#F1F1F1;
  padding:0.1em;
}




.onclick-menu-top ul li:hover{

}

.onclick-menu-top ul li:first-child{
	border-radius:0.2em 0.2em 0 0;
  background-color:#F1F1F1;
  position:relative;

}

.onclick-menu-top ul li:first-child::before{ /* the pointer tip */

	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:.5em solid transparent;
	border-bottom-color:#F1F1F1;
	right:1.5em;
	top:-1em;
	margin-left:-5px;
}

.onclick-menu-top ul li:last-child{
  border-radius:0 0 0.2em 0.2em ;


}




.menu-space{

  position: relative;
  display: inline;
}

.menu-item{
  position: relative;
  width:5.4em;
  height:6em;
  float:left;

  z-index:100;
  padding:0.2em;
  margin-top:0.2em;
  margin-left: 0.1em;

}


.menu-item{
  position: relative;
  width:5.4em;
  height:6em;
  float:left;

  z-index:100;
  padding:0.2em;
  margin-top:0.2em;

}
.menu-item:hover{
  background-color: #888888;
}
.space{
  visibility: hidden;
    cursor: auto;
}


.menu-description{
  font-size:.7em;
}


.menu-image{


}
.preview-image{

  width:5em;
    height:5em;
}
